
body {
    background-color: grey;
}


/*body {*/
/*background: url(../img/lakebg.jpg) no-repeat center center fixed;*/
/*-webkit-background-size: cover;*/
/*-moz-background-size: cover;*/
/*-o-background-size: cover;*/
/*background-size: cover;*/
/*}*/



body {
    font-family: 'Syncopate', sans-serif;
    background: url(../images/bgimages/BG4.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contact-headline {
    color: #fff;
}
/*=====================================================*/
/* Navbar Styles*/
/*=====================================================*/
nav {
    background-color: rgba(255,204,0,.19);
}

/*@media screen and (min-width: 480px) {*/
    /*nav {*/
        /*background-color: rgba(255,204,0,.19);*/
    /*}*/
/*}*/

.navbar-link, .navbar-brand {
    color: #ffcc00;
}

.hamburger-bar {
    background-color: #ffcc00;
}

/*=====================================================*/
/*Landing Page Styles*/
/*=====================================================*/

.homepage-headline {
    font-size:30px;
    color: #fff;
    font-family: 'Syncopate', sans-serif;
}

.homepage-subtext {
    font-size:18px;
    font-weight:100;
    margin-bottom:30px;
    margin-top:50px;
    color: #fff;
    font-family: 'Syncopate', sans-serif;
}

@media screen and (min-width: 480px) {
    .homepage-headline {
        font-size:80px;
        font-weight:700;
        color: #fff;
    }
    .homepage-subtext {
        font-size:46px;
        font-weight:100;
        margin-bottom:30px;
        color: #fff;
    }
}

.homepage-icon-outter-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:100%;
}

.homepage-icon-inner-wrapper {
    display: inline-block;
    margin: 5px;
    padding:5px;
}

.homepage-icon-header {
    color: #ffcc00;
    text-align: center;
    font-size:11px;
    text-transform: lowercase;
}

.contact-icon-img-large,.contact-icon-img-small {
    margin-bottom:15px;
}


@media screen and (min-width: 480px) {
    .contact-icon-img-small{
        display: none;
    }
    .homepage-icon-header {
        font-size:16px;
    }
}

@media screen and (max-width: 480px) {
    .contact-icon-img-large{
        display: none;
    }

}

/*=====================================================*/
/*About Page Styles*/
/*=====================================================*/

.about-text-wrapper {
    margin: auto;
    margin-top:30px;
    width:90%;
}

@media screen and (min-width: 480px) {
    .about-text-wrapper {
        width:40%;
        text-align: justify;
    }
}

.about-text {
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    color:#000000;
}

/*=====================================================*/
/*Contact Page Styles*/
/*=====================================================*/
.contact-headline {
    margin-bottom:40px;
}
.contact-wrapper {
    width:90%;
    margin:auto;
}

@media screen and (min-width: 480px) {
    .contact-wrapper {
        width:40%;
    }
}

.contact-icon-large, .contact-icon-small {
    float: left;
    margin-right:20px;
    margin-bottom:20px;
}


@media screen and (min-width: 480px) {
    .contact-icon-small{
        display: none;
    }

}

@media screen and (max-width: 480px) {
    .contact-icon-large{
        display: none;
    }

}

.contact-text {
    float: left;
    margin-top:25px;
    color: #fff;

}

.contact-locationInfo-wrapper {
    clear: both;
}
.contact-emailInfo-wrapper {
    clear: both;

}
.contact-phoneInfo-wrapper {
    clear: both;

}







